/********* Generico *********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.bordo{
    border: 2px solid green;
    border-style: dotted;
}
/* .bordo-lati{
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-style: dotted;
} */

.sfondo{
    background-color: rgb(64, 78, 237);
    padding: 20px 0 20px 0;
}
.sfondo:nth-child(even){
    background-color: rgb(246, 246, 246);
    padding: 20px 0 20px 0;
}
.sfondo:nth-child(odd){
    background-color: rgb(255, 255, 255);
    padding: 20px 0 20px 0;
}
.sfondo:nth-child(even){
    background-color: rgb(246, 246, 246);
}
/********* Generico *********/


/* Header */
header{
    background-color: rgb(38, 93, 233);
    height: 5rem;
}
nav{
    display: flex;
    width: 70vw;
    flex-grow: 0;
    justify-content: space-between;
    margin: auto;
    height: 100%;
}
header nav img, header nav button{
    max-height: 80%;
    margin: auto 0;
}
nav li{
    display: inline;
    background-color: orange;
    text-align: center;
    width: 25%;
}
header span{
    margin: auto;
    margin: auto 10px;
    color: white;
}
.nav_big{
    flex-grow: 1;
    width: 50%;
}
header button{
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin: 20px 10px;
}
/* Header */


/* Main */
main{
    margin: auto;
}

#primo{
    background-color: rgb(64, 78, 237);
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
}

section{
    width: 30vw;
    height: 100%;
    /* background-color: rgb(226, 111, 130); */
    margin: auto;
}
.container{
    width: 100%;
    text-align: center;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    text-align: center;
    color: white;
    font-size: 2rem;
}
section p{
    color: white;
}
main button,
footer button{
    margin-top: 20px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 30px;
    margin: 20px 10px;
}
#black_button{
    background-color: black;
    color: white;
}

.flex{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
#bottoni{
    height: 0;
    text-align: center;
    align-items: normal;
}
.blue_button{
    background-color: rgb(77, 88, 233);
    color: white;
}

.contenitore{
    width: 60%;
    height: 100%;
}
.sezione{
    height: 40vh;
    background-color: blue;
}

.sezione-big{
    width: calc(100% - 30%);
    height: 30vh;
    /* background-color: rgb(77, 88, 233); */
    /* border: 2px solid green; */
    /* border-style: dotted; */
}
.sezione-small{
    width: calc(100% - 70%);
    height: 30vh;
    /* background-color: pink; */
    /* border: 2px solid green; */
    /* border-style: dotted; */
}

.sezione-noflex{
    /* background-color: green; */
    width: 100%;
    margin: auto;
    text-align: center;
}
.sezione-noflex h2{
    margin-bottom: 20px;
}
/* Main */


/* Footer */
footer{
    background-color: rgb(35, 39, 42);
}

footer .sezione-big{
    /* background-color: rgb(238, 159, 128); */
}
footer .sezione-small{
    /* background-color: rgb(57, 185, 224); */
}

.footerbuttons{
    height: 30px;
}
.footerbuttons-pulsanti {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(30, 159, 168); */
    margin: auto;
    padding: 15px 0;
}

footer span{
    margin: 0;
    background-color: orange;
    color: white;
}

hr{
    width: 60%;
    margin: auto;
}

img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

footer h2{
    color: rgb(77, 88, 233);
}
footer p{
    color: white;
}
footer icon{
    color: white;
}

footer .sezione-small p:nth-child(1){
    color: rgb(77, 88, 233);
}

.sezione-big, .sezione-small{
    margin: auto;
    width: 100%;
    padding-top: 20px;
}

#icone{
    justify-content: flex-start;
}
.lingua{
    display: inline;
}
.lingua{
    width: 30px;
    height: 15px;
    margin-right: 10px;
    text-align: center;
}
footer button img{
    width: 50%;
}
.footer_logo{
    width: 200px;
    margin: 20px 10px;
    padding: 20px;
}
.footerbuttons-pulsanti{
    display: flex;
    justify-content: space-between;
    align-items: center;
}